/bin/*/*
!/bin/dist/nss
!/bin/dist/demo
*.obj
*.dll
*.pdb
*.lib
*.exp

# vs2019 files
.vs/

# vs2005 files
*.user
*.suo
*.ncb
*.filters

/src/packages/
/src/*/Debug/
/src/*/Release/
/lib/detours/*/Debug/
/lib/detours/*/Release/
/src/plugins/*/Debug/
/src/plugins/*/Release/
